.navbar {
	background-color: transparent;
	border: none;
    z-index: +1;
}
.jumbotron {
	height: 400px;
    background-image: url(https://s3.postimg.org/smk398rv7/pexels_photo.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    width: 100%;
    padding-top: 0px;
    top:0;
    z-index: -1; 
    position: relative;
}

#jumb {
	color: white;
/*	font-size: 15px;
*/}

.jumbotron .container .row .welcome-text {
    text-align: center;
    color:#fff;
    margin: 60px;
    padding: 40px;
    font-size: 50px;
}
.jumbotron .container .row .btn {
    border-radius: 2px;
    border: none;
    font-size-adjust: auto;
   
}

.navbar-wrapper .navbar .container .navbar-header .logo{
    left:40px;
}
