.navbar {
	background-color: transparent;
    z-index: +1;
    border: none;
}
.navbar-list {
/*    border: solid red;
*/    text-decoration: none;
    color: #fff;
    
}
.nav li a {
    transition: all 0.4s ease;
}
.nav li a:hover {
/*    border: dashed yellow;
   color: blue;*/ 
       transform: scale(1.2, 1.2);
}
.navbar-list:visited {
    color: red;
}
.jumbotron {
	height: 400px;
    background-image: url(https://s3.postimg.org/smk398rv7/pexels_photo.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    width: 100%;
    padding-top: 0px;
    top:0;
    z-index: -1; 
    position: relative;
}

.jumbotron .container .row .welcome-text {
    text-align: center;
    color:#fff;
    margin: 60px;
    padding: 40px;
    font-size: 50px;
}
.jumbotron .container .row .btn {
    border-radius: 2px;
    border: none;
    font-size-adjust: auto;
   
}

.navbar-wrapper .navbar .container .navbar-header .logo{
    left:40px;
}
