* {
    border-bottom: none;
}
html, body {
    min-height: 100vh;
}
body {
    flex: display;
    flex-direction: column;
    background-color: #fafafa;
}
.one-above-all {
    flex: 1 0 auto;
}

.navbar {
	background-color: transparent;
    z-index: +1;
    border: none;
}
.navbar-list {
/*    border: solid red;
*/  text-decoration: none;
    color: #fff;
    margin-top: 15px;
    
}
.nav li a {
    transition: all 0.4s ease;
}
.nav li a:hover {
/*    border: dashed yellow;
   color: blue;*/ 
       transform: scale(1.2, 1.2);
}
/*.navbar-list:visited {
    color: red;
}*/
/*nav .container {
    border: solid 2px solid;
}*/
a {
    text-decoration: none;
}
.logo p{
    /*border: solid 1px;*/
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
    text-decoration: none;
    color: white;
}
.logo:hover{
    text-decoration: none;
}
/*.logo p span.logo-underline {
    text-decoration: underline;
}*/
.jumbotron {
	height: 400px;
    background-image: url(https://s3.postimg.org/smk398rv7/pexels_photo.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    width: 100%;
    padding-top: 0px;
    top:0;
    z-index: -1; 
    position: relative;
}

.jumbotron .container .row .welcome-text {
    /*font-family: "PT Sans";*/
    text-align: center;
    color:#fff;
    margin: 60px;
    padding: 60px;
    font-size: 35px;
}
.jumbotron .container .row .btn {
/*    border-radius: 2px;
*/    border: none;
    font-size-adjust: auto;
   
}

.navbar-wrapper .navbar .container .navbar-header .logo{
    left:40px;
}
.container {
    border: none;
}

footer {
    background-color: #0d47a1;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Media queries */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #0d47a1;
    min-height: 70px;
    border: none;
  }
  .navbar * {
    border: none;
  }


}